@{
    ViewData["Title"] = "Orden De Trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-black-50 text-center">Solicitudes Llegadas</h1>

<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="font-weight-bold">Lista de Solicitudes </h2>

        </div>

    </div>

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show col-8" role="alert">
            <strong>@TempData["Mensaje"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }


    <br />
    <br />
    <table id="tblOrdenes" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>

                <th>Folio</th>
                <th>Departamento Solicitante </th>
                <th>Departamento Encanrgado</th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>





@section Scripts{
<script src="~/js/OrdenTrabajo.js"></script>
    }



