@{
    ViewData["Title"] = "Lista de Ordenes Generadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-black-50 text-center">Registro de Ordenes de Trabajo</h1>

<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="font-weight-bold">Lista de Ordenes</h2>

        </div>
        
    </div>

    <br />
    <br />
    <table id="tblListaOrdenes" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>

                <th>Numero de Control</th>
                <th>Asignado </th>
                <th>Fecha de Realizacion</th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>





@section Scripts{
        <script src="~/js/ListaOrdenes.js"></script>
    }



