.header {
    background-color: #29166F;
    top: 0;
}

.banner {
    background-color: #29166F;
    margin: 0;
    padding: 0em;
}

.bg-azul-tec {
    background-color: #29166F;
    background: #29166F;
    margin-top: 0;
    padding-top: 0;
}

.bg-azul-navbar {
    background-color: #29166F; 
}
