.loginA{
    margin:auto;
}

.BotonC {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.textoR {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.textoNav {
    font-family: 'Roboto', sans-serif;
}