

.Tsuperior {    
    border:solid 2px ;
    margin-left:50px;
}

.Tsuperior thead > tr > th{
    border: solid 2px;
    padding: 5px;
}

.Tsuperior .imagenLogo{
    width:140px;
    height:100px;
}

.Tmedio thead > tr > th {
    border: solid 2px;
    padding: 5px;
}

.Tmedio {
    border: solid 2px;     
    width:90%;
    margin-left:50px;
}

.Tinferior {
    border: solid 2px;
    margin-left: 50px;   
    width: 90%;
}

.Tinferior thead > tr > th {
    border: solid 2px;
    padding: 5px;
}