

.Tsuperior {    
    border:solid 2px ;
        margin: 0 auto;
}

.Tsuperior thead > tr > th{
    border: solid 2px;
    padding: 5px;
}

.Tsuperior .imagenLogo{
    width:140px;
    height:100px;
}

.Tmedio thead > tr > th {
    border: solid 2px;
    padding: 5px;
}

.Tmedio {
    border: solid 2px;
    margin:0 auto;
    width:100%;
}

.Tinferior {
    border: solid 2px;
    margin-left: 90px;
    margin-right: 80px;
    width: 81%;
}

.Tinferior thead > tr > th {
    border: solid 2px;
    padding: 5px;
}