@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="text text-black-50">Acceso Denegado a al Sitio de la Pagina</h1>
    <h2>Ingrese a Otro Sitio de la Pagina</h2>

</div>
