@model SISCOSMAC.Web.ViewModels.DepartamentoViewModel;
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center">Crear un Nuevo Departamento</h3>

<form method="post" ast-action="Crear">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreDepto"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreDepto" class="form-control" onkeyup="mayus(this)"/>
                    <span asp-validation-for="NombreDepto" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrdenTrabajo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrdenTrabajo" class="form-control" />
                    <span asp-validation-for="OrdenTrabajo" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group ">
                <div class="col-8 offset-4">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>